<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <testimonials>
            <general>
                <approve>0</approve>
                <top_links>0</top_links>
                <footer_links>0</footer_links>
            </general>
            <list>
                <layout>1column</layout>
                <items_per_page>10</items_per_page>
                <image_width>100</image_width>
                <image_height>100</image_height>
                <placeholder_image></placeholder_image>
                <show_email>0</show_email>
            </list>
            <form>
                <layout>2columns-right</layout>
                <enable_company>0</enable_company>
                <enable_website>0</enable_website>
                <enable_twitter>0</enable_twitter>
                <enable_facebook>0</enable_facebook>
                <sent_message>Thank you for your testimonial</sent_message>
            </form>
            <email_admin>
                <send_enable>0</send_enable>
                <send_from>0</send_from>
                <admin_email></admin_email>
                <email_subject>New testimonial was submitted</email_subject>
                <email_template>testimonials_email_admin_email_template</email_template>
            </email_admin>
        </testimonials>
        <customer>
            <captcha>
                <shown_to_logged_in_user>
                    <testimonial_new>1</testimonial_new>
                </shown_to_logged_in_user>
                <always_for>
                    <testimonial_new>1</testimonial_new>
                </always_for>
            </captcha>
        </customer>
        <captcha>
            <frontend>
                <areas>
                    <testimonial_new>
                        <label>Testimonials Form</label>
                    </testimonial_new>
                </areas>
            </frontend>
        </captcha>
        <subscriptionchecker>
            <ignore>
                <testimonials/>
            </ignore>
        </subscriptionchecker>
    </default>
</config>
