<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swissup\Testimonials\Api\Data\DataInterface" type="Swissup\Testimonials\Model\Data" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="testimonials_index_listing_data_source" xsi:type="string">Swissup\Testimonials\Model\ResourceModel\Data\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Swissup\Testimonials\Model\ResourceModel\Data\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">swissup_testimonials_data</argument>
            <argument name="eventPrefix" xsi:type="string">testimonials_index_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">testimonial_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Swissup\Testimonials\Model\ResourceModel\Data</argument>
        </arguments>
    </type>
    <virtualType name="TestimonialsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TestimonialsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Swissup\Testimonials\Model\ResourceModel\Data\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TestimonialsGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Swissup\Testimonials\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">testimonials/tmp</argument>
            <argument name="basePath" xsi:type="string">testimonials/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Swissup\Testimonials\Controller\Adminhtml\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Swissup\Testimonials\ImageUpload</argument>
        </arguments>
    </type>
    <type name="Swissup\Testimonials\Controller\Adminhtml\Index\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Swissup\Testimonials\ImageUpload</argument>
        </arguments>
    </type>

    <virtualType name="Swissup\Testimonials\MediaFileInfo" type="Swissup\Core\Model\Media\FileInfo">
        <arguments>
            <argument name="mediaPath" xsi:type="string">/testimonials/image</argument>
        </arguments>
    </virtualType>

    <type name="Swissup\Testimonials\Ui\DataProvider\Form\TestimonialDataProvider">
        <arguments>
            <argument name="fileInfo" xsi:type="object">Swissup\Testimonials\MediaFileInfo</argument>
        </arguments>
    </type>

    <type name="Swissup\Testimonials\Controller\Index\Save">
        <arguments>
            <argument name="imageModel" xsi:type="object">Swissup\Testimonials\MediaFileInfo</argument>
        </arguments>
    </type>

    <type name="Swissup\Testimonials\Helper\ListHelper">
        <arguments>
            <argument name="imageModel" xsi:type="object">Swissup\Testimonials\MediaFileInfo</argument>
        </arguments>
    </type>
</config>
