<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_Testimonials::testimonials" title="Testimonials" module="Swissup_Testimonials" sortOrder="2021" parent="Swissup_Core::general" action="testimonials/index" resource="Swissup_Testimonials::testimonials"/>
    </menu>
</config>
